*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "微软雅黑";
    
}
ul,ol{
    list-style-type:none;
}
body{
    overflow: hidden;
}
html{
    width:100%;
}
.clear:after{
    content:"";
    display:table;
    clear: both;
}
a{
    text-decoration: none;
}